/* lisää tämä jokaiseen html -sivuun: <link href="tyyli.css" rel="stylesheet" type="text/css"> */

body {
    background-color: rgb(255, 255, 255);
    color: (0, 0, 0);
    font-family: 'Verdana', sans-serif;
    font-size: 30px
}

header,
footer {
    text-align: center
}

h1 {
    color: black
}

h1 {
    font-family: 'Verdana', sans-serif
}

p {
    color: black
}

p {
    font-family: 'Verdana', sans-serif
}