body {
    background-color: rgb(255, 255, 255);
    background-image: url("pastelbg.jpg");
    font-family: 'Verdana', sans-serif;
}


/* jos käytetään containereita niin tässä koodi:
tätä käytettävä html-sivuilla: <div class="container"></div>

käyettävä css alla:

.container {
      background-image: url("osoite");
}*/

header,
footer {
    font-family: 'Verdana', sans-serif;
    text-align: center;
    font-size: 12px;
}

h1 {
    color: (0, 0, 0);
    font-family: 'Verdana', sans-serif;
    font-size: 20px
}

p {
    color: (0, 0, 0);
    font-family: 'Verdana', sans-serif;
    font-size: 12px;
}
